/* admin.css */
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.admin1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
    background: #8dd7ff9c;
  }
  
  .admin2 {
    background-color: #fff; /* Background color for the form container */
    padding: 20px; /* Add padding as needed */
    border-radius: 8px; /* Add border-radius as needed */
    box-shadow: 0px 0px 20px #e1d4d4;
    height: 200px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
  }
  
  h2 {
    text-align: center;
    color: #100f0f;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    color: #040404;
  }
  
  input {
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid rgb(96, 96, 163);
    box-shadow: 0 0 8px rgba(16, 64, 74, 0.1);
    transition: box-shadow 0.3s, border-color 0.3s;
  }
  
  .btn {
    margin-top: 10px; 
    padding: 10px 20px;
    background: #f8f9fa;
    color: #007bff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-left: 50px;
  }
  .home{
    background: #23a7ef9c;
  }