/* clubs.css */

.clubs-page {
    text-align: center;
  }
  
  .clubs-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
   
  }
  
  .club-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 1px solid rgb(39, 122, 145);
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgb(39, 122, 145);
    transition: transform 0.3s, border 0.3s; /* Add transition for smooth effect */
   
  }
  
  .club-item:hover {
    transform: scale(1.1); /* Scale on hover */
    border: 2px solid rgb(39, 122, 145); /* Change border on hover */
  }
  
  .club-info {
    text-align: center;
  }
  
  .image-container {
    position: relative;
  }
  
  .img2 {
    width: 300px;
    height: 200px;
    transition: transform 0.3s; /* Add transition for smooth effect */
  }
  

  
  .buttn-container {
    display: flex;
    justify-content: center;
  }
  
  .buttn {
    padding: 10px 20px;
    background: #f8f9fa;
    color: #007bff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
    margin-top: 30px;
  }
  
  .buttn:hover {
    background: linear-gradient(45deg, #196ec8d0, #1186acd3, #5e98d2d1); /* Multi-color gradient */
    color: #070303;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly larger box shadow on hover */
  }
  
  .buttn:active {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.6); /* Stronger light inside shadow on click */
  }

 