/* styles/Login.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #23a7ef9c;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust the height as needed */
}

.form-container {
  background-color: #e1d4d4;
  padding: 40px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0px 0px 20px #e1d4d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 407px;
  width: 220px;
}

.img {
  width: 300px;
  height: 488px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 20px #e1d4d4;
}

h2 {
  text-align: center;
  color: #100f0f;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #040404;
}

input {
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid rgb(96, 96, 163);
    box-shadow: 0 0 8px rgba(16, 64, 74, 0.1); /* Box shadow for a subtle effect */
    transition: box-shadow 0.3s, border-color 0.3s;
  }
  
  input:hover {
    box-shadow: 0 0 14px rgba(19, 159, 198, 0.538); /* Larger box shadow on hover for a professional effect */
  }
  
  input:focus {
    border-color: #007bff; /* Border color when input is in focus (clicked) */
  }

  button {
    padding: 10px 20px;
    background: #f8f9fa;
    color: #007bff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
  }
  
  button:hover {
    background: linear-gradient(45deg, #196ec8d0, #1186acd3, #5e98d2d1); /* Multi-color gradient */
    color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly larger box shadow on hover */
  }
  button:active {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.6); /* Stronger light inside shadow on click */
  }

  a {
    text-decoration: none;
    color: #3e8ba5;
    font-weight: bold; /* Add bold font weight */
    transition: color 0.3s ease; /* Smooth transition for color changes */
  }
  
  a:hover {
    text-decoration: solid;
    color: #73aac3; /* Change color on hover */
    box-shadow:0px 0px 5px #3e8ba5;
  }


